<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if title}}
        <title>{{title}} | myCookbook</title>
    {{else}}
        <title>myCookbook</title>
    {{/if}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/assets/images/logo-2.png" alt="mycookbook logo" class="logo-img"></a>
        </div>

        <div class="navbar" id="navbar">
            <ul>
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>

                <div class="menu">
                    
                    <a href="/add-recipe"><li class="nav">Add Recipe</li></a>
                    <a href="/recipe-book"><li class="nav">Recipe Book</li></a>
                    {{> log-in-out}}
                    
                </div>
            </ul>
            
        </div>
        
    </header>
    

    <main>
        {{{ body }}}
    </main>
    
<script src="/js/logout.js"></script>
<script src="/js/nav.js"></script>
</body>
</html>