<div id="hero">
        <div class="hero-body">
            <h2>Find Recipes</h2>
            <form id="search">
                <input type="search" placeholder="Recipe or Food Item">
                <div class="button-container">
                    <button class="search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>