<div id="hero">
        <div class="hero-body">
            <h2>Find Recipes</h2>
            <form class="recipe-form" id="search">
                <input type="search" placeholder="Recipe or Food Item" class="recipe-search">
                <div class="button-container">
                    <button class="search-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="recipe-data">

        </div>
    </div>

    <script src="/js/find-recipe.js"></script>