<div class="container new-recipe-form">
  <h2 class="login-head">Login</h2>
  <form id="new-recipe" class="login-form">
    
      <label for="email-login">email:</label>
      <input class="form-input" type="text" id="email-login" />
  
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />

    <div class="form-group">
      <button class="search-btn log-in" type="submit">login</button>
      <a href="/signup" class="sign-up">sign up instead</a>
    </div>
  </form> 
</div>
<script src="/js/login.js"></script>