<div id="hero" class="recipe-hero">
        <div class="hero-body">
            <h2>My Recipe Book</h2>
            <form id="search">
                <input type="search" placeholder="Recipe or Food Item">
                <div class="button-container">
                    <button class="search-btn" type="submit">Search</button>
                    <button class="search-btn"><a href="/add-recipe">Add New</a></button>

                </div>
            </form>
        </div>
    </div>

<script src="/js/search.js"></script>