<div class="container new-recipe-form">
  <h2 class="login-head">Sign Up</h2>
  <form id="new-recipe" class="form login-form">
    
      <label for="email-login">email:</label>
      <input class="form-input" type="email" id="email-login" />
  
   
      <label for="username-login">username:</label>
      <input class="form-input" type="text" id="username-login" />
   
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />

    <div class="form-group">
      <button class="searh-btn log-in" type="submit">sign up</button>
    </div>
  </form>
</div>



<script src="/js/signup.js"></script>