:root {
    --main: #faa741;
    --accent: #fa6641;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}

li:hover {
    background: var(--accent);
    color: #ffffff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: var(--main);
}

input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 20px;
}

button {
    text-align: center;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--accent);
    border: none;
    color: white;
    font-size: 20px;
}

button a {
    color: white;
}

button:hover {
    background: var(--main);
    cursor: pointer;
}

#hero {
    background-image: url("../images/hero.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero.recipe-hero {
    background-image: url("../images/recipe-book.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
}

#hero.add-recipe {
    background-image: url("../images/recipe-book2.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
}

.navbar {
    display: flex;
    align-items: center;
}

.hero-body {
    margin: 4%;
}

.hero-body h2{
    color: white;
    font-size: 75px;
    font-weight: 400;
}

.logo-img {
    width: 300px;
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

/* ---------------------- add recipe styling ---------------------- */
fieldset {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    border: var(--main) 2px solid;
}

fieldset legend {
    margin: 15px;
    font-size: 15px;
}

legend h3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--accent)
    
}

label {
    font-size: 17px;
}


select {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

textarea {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

#new-recipe {
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.new-recipe-form {
    margin: 2%;
    
}

#new-recipe input {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

.ingredients,
.instructions {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

/* ---------------------- search result styling ---------------------- */
#results {
    margin: 4%;
    display: flex;
    justify-content: center;
}

#results li {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2%;
    text-align: center;
    justify-content: center;
    background-color: var(--accent);
    color: white;
}

#results li h2,
#results li p {
    font-weight: 400;
    color: white;
}

#results li:hover {
    background: var(--main);
}
