:root {
    --main: #faa741;
    --accent: #fa6641;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


li.nav {
    display: inline;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}

li.nav:hover {
    background: var(--accent);
    color: #ffffff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: var(--main);
}

input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 20px;
}

input[type=checkbox] {
    display: none;
}

button {
    text-align: center;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--accent);
    border: none;
    color: white;
    font-size: 20px;
}

button a {
    color: white;
}

button:hover {
    background: var(--main);
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 35px;
    user-select: none;
}


/* ---------------------- login styling ---------------------- */
h2.login-head {
    font-weight: 300;
    font-size: 40px;
}

/* ---------------------- homepage styling ---------------------- */

#hero {
    background-image: url("../assets/images/hero.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero.recipe-hero {
    background-image: url("../assets/images/recipe-book.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
}

#hero.add-recipe {
    background-image: url("../assets/images/recipe-book2.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
}

.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar .icon {
    display: none;
}

.hero-body {
    margin: 4%;
}

.hero-body h2{
    color: white;
    font-size: 75px;
    font-weight: 400;
}

.logo-img {
    width: 300px;
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

/* ---------------------- recipe book styling ---------------------- */
a.name h4{
    font-weight: 500;
    font-size: 30px;
    color: var(--accent);
}

a.name h4:hover {
    color: var(--main);
}

h6.recipe-description {
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 10px;
}

.card-container {
    margin: 2% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 2%;
    padding: 2%;
    border: 2px solid var(--main);
    border-radius: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-li {
    display: inline;
    font-size: 15px;
    padding: 0;
    margin-right: 7px;
    font-weight: 500;
    
}



/* ---------------------- recipe styling ---------------------- */
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.recipe-page {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

.recipe-body {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2%;
}

.recipe-title {
    font-weight: 400;
    color: var(--accent);
    font-size: 45px;
    margin-bottom: 20px;
}

.recipe-description {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}

.recipe-ingredients,
.recipe-notes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-ingredients h4,
.recipe-notes h4 {
    font-weight: 400;
    font-size: 25px;
    color: var(--accent);
    margin-bottom: 10px;
}

.recipe-ingredients ul li {
    display: flex;
    flex-direction: column;
}

.instruction-li {
    margin-left: 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

.recipe-nutrition {
    width: 50%;
}

.nutrition-title {
    font-size: 25px;
}

.nutrition-li {
    margin: 15px;
    font-size: 20px;
}

.recipe-notes p {
    font-size: 20px;
}


/* ---------------------- add recipe styling ---------------------- */
fieldset {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    border: var(--main) 2px solid;
}

fieldset legend {
    margin: 15px;
    font-size: 15px;
}

legend h3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--accent)
    
}

label {
    font-size: 17px;
}


select {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

textarea {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

.add-ingredient {
    width: 20%;
    font-size: 15px;
    margin: 0 0 10px;
}

#new-recipe {
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.new-recipe-form {
    margin: 2%;
    
}

#new-recipe input {
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 15px;
    margin: 15px 0;
}

.ingredients,
.instructions {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

/* ---------------------- search result styling ---------------------- */
#results {
    margin: 4%;
    display: flex;
    justify-content: center;
}

#results li {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2%;
    text-align: center;
    justify-content: center;
    background-color: var(--accent);
    color: white;
}

#results li h2,
#results li p {
    font-weight: 400;
    color: white;
}

#results li:hover {
    background: var(--main);
}


/* ---------------------- media queries ---------------------- */
@media (max-width: 1000px) {
    .menu li {
        font-size: 15px;
    }
}

@media (max-width: 850px) {
    .menu li {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: var(--accent);
        right: 0;
        left: 0;
        text-align: center;
        margin-top: 14px;
        padding: 20px 0;
    }

    .menu li {
        font-size: 20px;
    }

    .menu li:hover {
        background-color: var(--main);
        transition: 0.3s ease;
    }

    .menu li + li {
        margin: 35px;
    }

    .menu a {
        margin: 15px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }
}