:root {
    --main: #faa741;
    --accent: #fa6641;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
}

li:hover {
    background: var(--accent);
    color: #ffffff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: var(--main);
}

input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--accent);
    padding: 8px;
    font-size: 20px;
}

button {
    text-align: center;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--accent);
    border: none;
    color: white;
    font-size: 20px;
}

button:hover {
    background: var(--main);
    cursor: pointer;
}

#hero {
    background-image: url("../images/hero.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.hero-body h2{
    color: white;
    font-size: 75px;
    font-weight: 400;
}

.logo-img {
    width: 300px;
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

